.footer {
    text-align: center;
    margin-top: 20px;
}

.footer p {
    display: inline;
    margin: 0 10px; /* Espace horizontal entre les paragraphes */
}

.footer a {
    color: #cccccc; /* Gris clair */
    text-decoration: underline;
}

.footer a:hover {
    color: #999999; /* Gris plus foncé au passage de la souris */
}

.erreur {
    color: red;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header img {
    max-width: 200px; /* Ajustez la taille de votre logo */
    border-radius: 200px;
}

h1 {
    color: #333;
}

p.reussite {
    color: #28a745;
    margin-bottom: 10px;
}

p.hash {
    color: #666;
}

p {
    color: #666;
    margin-bottom: 15px;
}

form input[type="text"],
form input[type="submit"],
form input[type="email"],
form input[type="file"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Pour inclure le padding et le border dans la largeur */
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.vote-form {
    margin-top: 20px;
}

.candidate {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.candidate input[type="radio"] {
    margin-right: 10px;
}

.candidate label {
    font-weight: bold;
}

.candidate img {
    max-width: 100px;
    margin-left: 20px;
    border-radius: 5px;
}

.result {
    margin-bottom: 20px;
}

.progress-wrapper {
    margin-bottom: 15px;
}

progress {
    width: 100%;
}

.progress-wrapper span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}

.winner img {
    max-width: 200px;
    border-radius: 5px;
    margin-top: 20px;
}

.liste img{
    max-width: 50px;
    border-radius: 5px;
    vertical-align: middle;
}

/* Styles pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


/* Styles pour le header utilisateur */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}